#slider{
    display:flex;
    justify-content: space-evenly;
}

#slider img{
    max-height: 30vh;
    max-width: 90vh;
    min-height: 200px;
    min-width: 200px;
   /*  border-radius: 25px; */
   align-self: center;
    
}

.sliderPage{
    display:flex;
    justify-content: center;
    border:solid 2px orangered;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    min-height: 200px;
}

.sliderPageLayer{
    position: absolute;
    z-index: 99;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    /* border-radius: 25px; */
    opacity: 0.4;
}

.sliderPageLayer:hover{
opacity: 0;
}

.sliderPageInvisibleLayer{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.sliderPageTitle{
    z-index: 98;
    align-self: center;
    justify-self: center;
    color:white;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

.sliderDetails{
display:flex;
position: absolute;
justify-content: center;
align-items: center;
width:100%;
bottom: 0;
left:0;
}

.sliderDetailsBtn{
    display:inline-block;
    padding:10px 25px;
    color:white;
    background-color: #e95f2d;
    border-radius: 25px;
    margin-bottom: 10px;
    z-index: 200;
    cursor: pointer;
}

#searchBoxRatingRangeDivAll{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#searchBoxRatingRangeDiv{
    display:flex;
    justify-content: center;
}

#searchBoxFilters{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sliderDetailsBtn:hover{
   
    color:white;
    animation: sliderDetailsBtnHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes sliderDetailsBtnHover{
0%{

}
100%{
    background-color: orangered;
}
}

.sliderPageLayerHide{
   
    opacity: 0;

}


@media only screen and (max-width: 600px) {
#slider0, #slider1{
    display:none;
}
}


/* 
Here is css for listPage
*/

#searchButton{
    display:inline-block;
    background-color: #e95f2d;
    border-radius:25px;
    padding:10px 20px;
}

#searchButton:hover{
    animation: searchButtonHover 1s;
    animation-fill-mode: forwards;
}

#searchText{
    border:1px solid orangered;
}

.selPageBtn{
    color:red;
}

@keyframes searchButtonHover{
    0%{
    
    }
    100%{
        background-color: orangered;
    }
    }

.list-products{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-product{
    flex:0 40%;
   /*  padding:20px; */
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid orangered;
    margin:5px;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
}

.list-product-image{
    max-width:50%;
}

.list-product-description{
    display:none;
}

.product-container{
    padding:20px;
}



#main{
    width:70%;
}

.listBtn{
    margin-top:15px;
}

.verticalCenter{
    width:100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .list-product{
        flex:0 80%;
    }
}


@media screen and (max-width: 1280px) {
    .list-product{
        flex-direction: column;
        align-items: center;
    }
    .list-product-image{
        padding-top: 15px;
    }
}