body{
    margin:0;
    padding: 0;
}

.wholePageDarker{
    position: absolute;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index:999;
    background-color: rgba(0,0,0,0.6);
    display:flex;
    align-items: center;
    justify-content: center;
}

#modalWindow{
    background-color: white;
    width:80vw;
    height:80vh;
}

.invisible{
    display: none;
}

#modalWindowX{
    padding:10px;
    background-color: orangered;
    color:white;
    border-radius: 25px;
    display:inline-block;
}

.modalWindowImage{
    max-height: 40vh;
    max-width: 100%;
}
